.button {
    display: inline-block;

    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    tab-size: 14px;
    transition: all 0.2s;
}

.primary {
    background-color: var(--primary);
    color: var(--white);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    background-color: none;
    color: var(--black);
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.primary svg,
.ghost:hover svg{
    fill: var(--white);
}