.footer {
    background-color: var(--primary);
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 40px;
    color: var(--white);
}

.footer a:hover {
    color: var(--green-light);
}

@media (max-width: 765px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }
}