.reviewForm {
    font-size: 14px;
    line-height: 24px;
    display: grid;
    grid-template-columns: [start] auto 1fr auto [end];
    gap: 20px 30px;
    align-items: center;
}

.description {
    grid-column: start / end;
}
.submit {
    grid-column: start / end;
}
.title {
    justify-self: left;
}

.info {
    margin-left: 15px;
}

.rating {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.error {
    background: var(--red--light);
    padding: 20px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}
.error .close path{
    stroke: var(--red);
}
.success .close path{
    stroke: var(--green);
}

.success {
    background: var(--green-light);
    padding: 20px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}
.successTitle {
    font-weight: bold;
    margin-bottom: 5px;
}
.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

@media screen and (max-width: 1050px) {
    .reviewForm {
        grid-template-columns: [start] 1fr 1fr [end];
    }
    .rating {
        grid-template-columns: start / end;
    }
    .title {
        justify-self: normal;
    }

}

@media screen and (max-width: 640px) {
    .reviewForm {
        grid-template-columns: [start] 1fr [end];
    }
}